manifest {
    name = "cerebro"
    author = "@esteinig"
    defaultBranch = "main"
    homePage = 'https://github.com/esteinig/cerebro'
    description = 'Metagenomic diagnostics of low-abundance pathogens'
    mainScript = 'main.nf'
    version = '0.7.0'
    // nextflowVersion = '>=23.04'
}

timeline {
    enabled = true
    file = "timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "report.html"
    overwrite = true
}

trace {
    enabled = true
    file = 'trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,peak_rss'
    overwrite = true
}

executor {
  $local {
      cpus = 64
      memory = '128 GB'
  }
}

params {

    error_strategy = "ignore"
    
    mode {
        qc {
            enabled = false
        }
        io {
            enabled = false
        }
        dev {
            enabled = false
        }
    }


    // =====================================================
    // Databases and references for taxonomic classification
    // =====================================================


    production {
        enabled = false
        sample_sheet = null
        api {
            enabled = true
            url = "CEREBRO_API_URL"
            token = "CEREBRO_API_TOKEN"
                
            upload {
                enabled = true
                team = null
                db = null
                project = null
            }

        }
    }


    // Global ONT specific settings

    ont {
        minimap2 {
            preset = "map-ont"
        } 
    }

    // =====================================================
    // Databases and references for taxonomic classification
    // =====================================================

    database {

        taxonomy {
            directory = "db/ncbi_tax"
        }

        alignment {
            viruses {
                index       = "db/virosaurus98_full_sr.mmi"
                fasta       = "db/virosaurus98_full_sr.fasta"
                blacklist   = null

                background {
                    fasta   = "db/SILVA_LSURef_NR99.fasta,db/SILVA_SSURef_NR99.fasta"
                    kraken2 = "db/langmead_pluspf_64GB,db/rrna"
                }
            }
            bacteria {
                index = null
                fasta = "db/refseq_bacteria_2022.fasta"
                mash  = "db/refseq_bacteria_2022.msh"
            }
            eukaryots {
                index = null
                fasta = "db/refseq_pf_2022.fasta"
                mash  = "db/refseq_pf_2022.msh"
            }
        }

        kmer {
            kraken2 = "db/langmead_eupath48,db/langmead_pluspf_64GB"
        }

        assembly {
            blast   = "db/NT_20230219"
            diamond = "db/NR_20230312/nr_diamond.dmnd"
        }

    }

    // =============================================
    // Module and submodule / process configurations
    // =============================================

    // Read modifications before any other modules are run

    subsample {
        enabled    = false
        reads      = [7000000, 5000000, 3000000, 1000000, 500000, 100000]
        replicates = 1
    }
    

    qc {
        enabled = true
        
        deduplication {
            enabled  = false
            method   = "none"                       // none, naive, umi-naive, umi-calib
        }

        reads {
            fastp {
                enabled                 = true
                min_read_length         = 75
                cut_tail_quality        = 20
                complexity_threshold    = 30
                adapter_auto_detect     = false
                adapter_file            = null
                adapter_seq_1           = null
                adapter_seq_2           = null
                trim_poly_g             = 10
            }
            nanoq {
                enabled                 = true
                min_read_length         = 100
                min_read_quality        = 7
            }
        }

        controls {
            ercc {
                enabled = false
                fasta = null
            }
            phage {
                enabled = false
                fasta = null
                identifiers {
                    dna_extraction = "T4-Monash"
                    rna_extraction = "M2-Monash"
                    sequencing     = "PhiX"
                }
            }
        }

        host {
            depletion {
                enabled     = true
                databases   = ""
                references  = ""
                taxa        = "Metazoa"
                direct      = "9606"
                min_cov     = 0
                min_len     = 50
                min_mapq    = 0
            }
        }

    }

    taxa {
        enabled = false

        alignment {
            enabled = true

            viruses {
                enabled = true
            } 
            bacteria {
                enabled = true
            }
            eukaryots {
                enabled = true
            }
        }
        kmer {
            enabled = true

            kraken2 {
                enabled            = true
                confidence         = 0   // pathogen profiling
                minimum_hit_groups = 3   // pathogen detection
            }
            bracken {
                enabled            = false
                read_length        = 100
                taxonomic_level    = "S"
                minimum_reads      = 3
            }
        }
        assembly {
            enabled = true

            meta {
                enabled = true
                spades {
                    k = "21,29,39,59,79,99"
                }
                blastn {
                    enabled = true
                    min_evalue = 0.000001
                    min_identity  = 80
                    max_target_seqs = 100
                }
                diamond {
                    enabled = true
                    args = "--mid-sensitive"
                    min_evalue = 0.000001
                    min_identity  = 60
                    max_target_seqs = 50
                    // Block size in billions of sequence letters to be processed at a time. 
                    // This is the main parameter for controlling the program’s memory and disk space usage. 
                    // Bigger numbers will increase the use of memory and temporary disk space, but also improve performance. 
                    // The program can be expected to use roughly six times this number of memory (in GB). The default value 
                    // is 2.0. The parameter can be decreased for reducing memory use, as well as increased for better  
                    // performance (values of > 20 are not recommended).
                    block_size = 12
                    // The number of chunks for processing the seed index. 
                    // This option can be additionally used to tune the performance. 
                    // The default value is 4, while setting this parameter to 1 instead
                    // will improve the performance at the cost of increased memory use.
                    index_chunks = 1
                }
            }
            consensus {
                enabled = false

                ivar {
                    mpileup_args = "-d 50000"
                    min_qual     = 20
                    min_depth    = 20
                    min_freq     = 0.75
                }
            }
        }
    }
    

    host {
        enabled = false
        
        aneuploidy {
            enabled = true
            deduplicate = true                            // samtools markdup on host alignment bam
            markdup_distance = 100                        // http://www.htslib.org/algorithms/duplicate.html
            reference_index = "db/chm13v2_sr.mmi"
            cnvkit {
                enabled = true
                drop_low_coverage = false
                target_avg_size = 100000
                reference_fasta = "db/chm13v2.fa"
                normal_control = "db/HG007.5x.QC.bam"   // alignment reference must be the same as aneuploidy.reference_index
            }
        }
    }

    // Metagenomics from culture for profiling and hybrid-assembly for species identification

    culture {
        enabled = false

        assembly {
            enabled = true
        }

    }

    // Process resource specification as parameters so 
    // that resources can be set from the command-line

    resources {
        ivar {
            cpus = 1
        }
        mash {
            cpus = 8
        }
        fastp {
            cpus = 4
        }
        nanoq {
            cpus = 1
        }
        spades {
            cpus = 8
        }
        cerebro {
            cpus = 1
        }
        rasusa {
            cpus = 2
        }
        kraken2 {
            cpus = 4
        }
        minimap2 {
            cpus = 8
        }
        blast_nt {
            cpus = 8
            memory = "64 GB"
        }
        diamond_nr {
            cpus = 8
            memory = "64 GB"
        }
        meta_spades {
            cpus = 8
            memory = "64 GB"
        }
        kraken2uniq {
            cpus = 8
            memory = "64 GB"
        }
        kraken2bracken {
            cpus = 8
        }
        umi_align {
            cpus = 8
        }
        umi_calib {
            cpus = 1
        }
        umi_cerebro {
            cpus = 2
        }
        minimap2_realign {
            cpus = 8
        }
        minimap2_aneuploidy {
            cpus = 16
        }
        cnvkit_aneuploidy {
            cpus = 2
        }
        scrubby_reads {
            cpus = 4
        }
        scrubby_single {
            cpus = 8
        }
    }

}

// ================================
// Validation experiment parameters
// ================================

includeConfig "$baseDir/lib/configs/validation.config"


// ==================
// Execution Profiles
// ==================


profiles {

    // ====================
    // Development Profiles
    // ====================

    test_dev {
        params.mode.dev.enabled = true    // test utility functions, inputs and all modules deactivated
    }
    test_io {    
        params.mode.io.enabled  = true    // test input functions, all modules deactivated
    }
    test_qc {    

        // Test quality control workflow, taxonomic classification disabled
        // Default quality control components without assay controls or 
        // deduplication; can be enabled on command-line.

        params.mode.qc.enabled  = true    

        params.qc.enabled                   = true
        params.qc.deduplication.enabled     = false
        params.qc.reads.fastp.enabled       = true
        params.qc.controls.ercc.enabled     = false
        params.qc.controls.phage.enabled    = false
        params.qc.host.depletion.enabled    = true 

    }
    test_aneuploidy {

        // Test aneuploidy workflow which uses global quality
        // control parameters on the consented input samples 
        // (sample sheet column) except host depletion and 
        // the reference-free deduplication which are always
        // disabled. Deduplication including optical duplicates
        // is conducted when generating the host alignments. 

        // For creating the normal control alignment, use this
        // profile and disable the CNV step on execution of the
        // workflow (--host.aneuploidy.cnv false). This will 
        // symlink the BAM alignment into the workflow output
        // directory. Other quality control options may be 
        // changed as well depending on source of the normal
        // control reads.
        
        params.qc.enabled                           = true
        params.qc.deduplication.enabled             = false                          // hardcoded disabled in subworkflow for now
        params.qc.reads.fastp.enabled               = true
        params.qc.controls.ercc.enabled             = true
        params.qc.controls.phage.enabled            = true
        params.qc.host.depletion.enabled            = false                          // hardcoded disabled in subworkflow

        params.host.enabled                         = true
        params.host.aneuploidy.enabled              = true
        params.host.aneuploidy.cnv                  = true
        params.host.aneuploidy.deduplicate          = true                           // samtools markdup removal on host alignment bam
        params.host.aneuploidy.markdup_distance     = 100                            // http://www.htslib.org/algorithms/duplicate.html
        params.host.aneuploidy.reference_index      = "db/chm13v2_sr.mmi"
        params.host.aneuploidy.reference_fasta      = "db/chm13v2.fa"                // fasta must be the same as aneuploidy.reference_index
        params.host.aneuploidy.normal_control       = "db/HG007.CHM13v2.QC.bam"      // alignment reference must be aneuploidy.reference_index

        params.taxa.enabled                         = false
        params.resources.fastp.cpus                 = 64
        params.resources.minimap2_aneuploidy.cpus   = 196

    }
    
    // =================
    // Database Profiles
    // =================

    databases {
        params.qc.controls.ercc.fasta                 = "db/ERCC92.fasta"
        params.qc.controls.phage.fasta                = "db/phage.fasta"
        params.qc.host.depletion.references           = "db/chm13v2_sr.mmi"
        params.qc.host.depletion.databases            = "db/langmead_pluspf_64GB"

        params.qc.controls.phage.identifiers.dna_extraction = "T4-Monash"      
        params.qc.controls.phage.identifiers.rna_extraction = "M2-Monash"    
        params.qc.controls.phage.identifiers.sequencing     = "PhiX"

        params.virus_background_references = "db/SILVA_LSURef_NR99.fasta,db/SILVA_SSURef_NR99.fasta"
        params.virus_background_dbs = "db/langmead_pluspf_64GB,db/rrna"
        params.virus_db_index = "db/virosaurus98_full_sr.mmi"
        params.virus_db_fasta = "db/virosaurus98_full_sr.fasta"
        params.virus_blacklist = null
        
        params.bacteria_fasta = "db/refseq_bacteria_2022.fasta"
        params.bacteria_mash_index = "db/refseq_bacteria_2022.msh"
        params.eukaryots_mash_index = "db/refseq_pf_2022.msh"
        params.eukaryots_fasta = "db/refseq_pf_2022.fasta"
        params.meta_blast_nt = "db/NT_20230219"
        params.meta_diamond_nr = "db/NR_20230312/nr_diamond.dmnd"
        params.kraken2_dbs = "db/langmead_eupath48,db/langmead_pluspf_64GB"
    }

    
    // =================
    // Pipeline Profiles
    // =================


    cns_assay {
        
        params.qc.deduplication.enabled              = true
        params.qc.deduplication.method               = "umi-naive"
        params.qc.reads.enabled                      = true
        params.qc.controls.ercc.enabled              = true
        params.qc.controls.phage.enabled             = true
        params.qc.host.depletion.enabled             = true
        params.qc.reads.fastp.adapter_seq_1          = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
        params.qc.reads.fastp.adapter_seq_2          = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"

        params.taxa.enabled                          = true

    }

    panviral {
        
        params.taxa.enabled                          = true
        params.taxa.alignment.enabled                = true
        params.taxa.alignment.viruses.enabled        = true
        params.taxa.alignment.bacteria.enabled       = false
        params.taxa.alignment.eukaryots.enabled      = false
        params.taxa.assembly.enabled                 = true
        params.taxa.assembly.meta.enabled            = false
        params.taxa.assembly.viruses.enabled         = true
        params.taxa.kmer.enabled                     = false

        params.qc.deduplication.enabled              = false
        params.qc.reads.enabled                      = true
        params.qc.controls.ercc.enabled              = false
        params.qc.controls.phage.enabled             = false
        params.qc.host.depletion.enabled             = true

        params.vircov_scan_reads                     = 0
        params.vircov_scan_regions                   = 0
        params.vircov_scan_regions_coverage          = 0

        params.vircov_remap_reads                    = 15  
        params.vircov_remap_coverage                 = 0.10
        params.vircov_remap_regions                  = 4
        params.vircov_remap_regions_coverage         = 0.3

    }

    
    // =================
    // Resource Profiles
    // =================


    dgx {        
        params.resources.ivar.cpus = 1
        params.resources.mash.cpus = 8
        params.resources.fastp.cpus = 16
        params.resources.spades.cpus = 16
        params.resources.cerebro.cpus = 1
        params.resources.umi_cerebro.cpus = 2
        params.resources.kraken2.cpus = 16
        params.resources.minimap2.cpus = 32
        params.resources.blast_nt.cpus = 16
        params.resources.diamond_nr.cpus = 16
        params.resources.meta_spades.cpus = 32
        params.resources.kraken2uniq.cpus = 16
        params.resources.umi_align.cpus = 32
        params.resources.umi_calib.cpus = 8
        params.resources.rasusa.cpus = 2
        params.resources.scrubby_reads.cpus = 32
        params.resources.scrubby_single.cpus = 8
        params.resources.minimap2_realign.cpus = 16
        params.resources.minimap2_aneuploidy.cpus = 64
        params.resources.cnvkit_aneuploidy.cpus = 2          // only parallelises on one sample and x control bam files

        // Around 160 GB memory for these settings?

        params.resources.blast_nt.memory    = "96 GB"
        params.resources.diamond_nr.memory  = "64 GB"
        params.resources.kraken2uniq.memory = "96 GB"
        params.resources.meta_spades.memory = "64 GB"


        params.taxa.assembly.meta.diamond.block_size = 8
        params.taxa.assembly.meta.diamond.index_chunks = 1
    }

    limit_medium {
        executor.$local.cpus = 128
        executor.$local.memory = '512 GB'
    }

    limit_large {
        executor.$local.cpus = 196
        executor.$local.memory = '1024 GB'
    }

    // ======================================
    // Experiment profiles for assay protocol
    // ======================================

    // ERCC and EDCC validation experiment with
    // deduplication evaluation for biomass calculations

    ercc_validation {

        params.qc.controls.ercc.enabled                         = true
        params.qc.host.depletion.enabled                        = true

        params.validation.ercc.enabled                          = true 
        params.validation.ercc.deduplication.none               = true
        params.validation.ercc.deduplication.fastp              = true
        params.validation.ercc.deduplication.naive              = true
        params.validation.ercc.deduplication.umi_naive          = true
        params.validation.ercc.deduplication.umi_calib          = true
        params.validation.ercc.deduplication.umi_tools          = false
        params.validation.ercc.deduplication.umi_tools_naive    = false

    }
    exp_ercc_none {
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = false
        params.qc.deduplication.method = null
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
    exp_ercc_fastp {
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = true
        params.qc.deduplication.method  = "fastp"
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
    exp_ercc_naive {
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = true
        params.qc.deduplication.method  = "naive"
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
    exp_ercc_naive_umi {
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = true
        params.qc.deduplication.method  = "umi-naive"
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
    exp_ercc_calib{
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = true
        params.qc.deduplication.method = "umi-calib"
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
    exp_ercc_umi_tools {
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = true
        params.qc.deduplication.method  = "umi-tools"
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
    exp_ercc_umi_tool_naive {
        params.mode.qc.enabled = true 
        params.qc.deduplication.enabled = true
        params.qc.deduplication.method = "umi-tools-naive"
        params.qc.controls.ercc.enabled = true
        params.qc.host.depletion.enabled = true
    }
}

process {
    errorStrategy = params.error_strategy


    // Process resource labels with parameter specification
    // for provisioning of process resources from command-line

    withLabel: ivar { cpus = params.resources.ivar.cpus }
    withLabel: mash { cpus = params.resources.mash.cpus } 
    withLabel: fastp { cpus = params.resources.fastp.cpus }
    withLabel: nanoq { cpus = params.resources.nanoq.cpus }
    withLabel: spades { cpus = params.resources.spades.cpus }
    withLabel: kraken2 { cpus = params.resources.kraken2.cpus }
    withLabel: cerebro { cpus = params.resources.cerebro.cpus }
    withLabel: rasusa { cpus = params.resources.rasusa.cpus }
    withLabel: minimap2 { cpus = params.resources.minimap2.cpus }
    withLabel: umi_align { cpus = params.resources.umi_align.cpus }
    withLabel: umi_calib { cpus = params.resources.umi_calib.cpus }
    withLabel: umi_cerebro { cpus = params.resources.umi_cerebro.cpus }
    withLabel: scrubby_reads { cpus = params.resources.scrubby_reads.cpus }
    withLabel: scrubby_single{ cpus = params.resources.scrubby_single.cpus }
    withLabel: minimap2_realign { cpus = params.resources.minimap2_realign.cpus }
    withLabel: cnvkit_aneuploidy { cpus = params.resources.cnvkit_aneuploidy.cpus }
    withLabel: minimap2_aneuploidy { cpus = params.resources.minimap2_aneuploidy.cpus }
    withLabel: blast_nt { cpus = params.resources.blast_nt.cpus; memory = params.resources.blast_nt.memory }
    withLabel: diamond_nr { cpus = params.resources.diamond_nr.cpus; memory = params.resources.diamond_nr.memory }
    withLabel: kraken2uniq { cpus = params.resources.kraken2uniq.cpus; memory = params.resources.kraken2uniq.memory }
    withLabel: meta_spades { cpus = params.resources.meta_spades.cpus; memory = params.resources.meta_spades.memory }

}