params {

  executionDirectory = "."
  databaseDirectory  = "db"

  stageDirectory = "$params.executionDirectory/stage"
  outputDirectory = "$params.executionDirectory/output"

  panviralEnrichment {

    hostAligner           = "bowtie2"
    hostIndex             = "$params.databaseDirectory/chm13v2"

    virusAligner          = "minimap2"
    virusIndex            = "$params.databaseDirectory/virus.fasta"
    virusReference        = "$params.databaseDirectory/virus.fasta"

    controlAligner        = "minimap2"
    controlIndex          = "$params.databaseDirectory/phage.fasta"
    controlReference      = "$params.databaseDirectory/phage.fasta"

    adapterForward        = null
    adapterReverse        = null

    remapThreads          = 2
    remapParallel         = 4

  }
  
  threads {
    fastp                 = 8
    scrubby               = 8
    vircov                = 8
  }

}


process {

    withLabel: vircov_scrubby { cpus = params.threads.vircov }
    withLabel: vircov { cpus = params.threads.vircov }
    withLabel: scrubby { cpus = params.threads.scrubby } 
    withLabel: fastp { cpus = params.threads.fastp }

}