manifest {
    name = "aneuploidy"
    author = "@esteinig"
    defaultBranch = "main"
    homePage = 'https://github.com/esteinig/cerebro'
    description = 'Aneuploidy detection with CNVKit'
    mainScript = 'main.nf'
    version = '0.1.0'
    nextflowVersion = '>=24.04'
}


params {

  outdir                               = "aneuploidy"                   // output directory
  pairedReads                          = "*_{R1,R2}.fastq.gz"           // input glob string
  deduplicate                          = true                           // samtools markdup removal on host alignment bam
  markdupDistance                      = 100                            // http://www.htslib.org/algorithms/duplicate.html
  referenceFasta                       = "db/CHM13v2.fasta"             // human reference complete
  normalControlBam                     = "db/HG007.5x.QC.bam"           // control alignment reference must be same as referenceFasta
  dropLowCoverage                      = false                          // cnvkit
  targetAverageBinSize                 = 100000                         // cnvkit

  resources {
    threads {
      minimap2              = 16
      cnvkit                = 8
    }
    memory {
      minimap2              = "32 GB"
      cnvkit                = "16 GB"
    }
    conda {
      minimap2              = "$baseDir/minimap2.yml"
      cnvkit                = "$baseDir/cnvkit.yml"
    }
  }
}


profiles {

  conda {
    conda.enabled = true
  }
  mamba {
    conda.enabled = true
    conda.useMamba = true
  }

  micro {
      executor.$local.cpus = 8
      executor.$local.memory = '32 GB'
  }
  tiny {
      executor.$local.cpus = 16
      executor.$local.memory = '64 GB'
  }
  mini {
      executor.$local.cpus = 32
      executor.$local.memory = '128 GB'
  }
  small {
      executor.$local.cpus = 64
      executor.$local.memory = '512 GB'
  }
  medium {
      executor.$local.cpus = 128
      executor.$local.memory = '512 GB'
  }
  large {
      executor.$local.cpus = 256
      executor.$local.memory = '1960 GB'
  }
}

process {

    errorStrategy = "ignore"

    withLabel: minimap2 { 
      cpus = params.resources.threads.minimap2 
      memory = params.resources.memory.minimap2 
      conda = params.resources.conda.minimap2
    }
    withLabel: cnvkit { 
      cpus = params.resources.threads.cnvkit 
      memory = params.resources.memory.cnvkit 
      conda = params.resources.conda.cnvkit
    }
}