
.md-header__title[data-md-component=header-title] {
    margin-left: -0.3rem;
}
.md-logo[data-md-component=logo] {
    padding-top: 0.45rem;
}
.md-typeset {
    font-size: 0.7rem;
}

.md-typeset code {

    font-size: 0.69rem;
}