// Validation experiment configurations loaded into the main configuration
// used for creating Nextflow profiles to execute specific experiment 
// configurations in the subworkflows

params {

    // Wet-lab validation experiment subworkflow configuration

    validation {

        // Validation #1: ERCC and EDCC

        ercc {

            enabled  = false

            // Deduplication variants for evaluation of biomass calculations

            deduplication {

                none                 = false
                fastp                = false
                naive_before         = false
                naive_after          = false
                umi_naive            = false
                umi_calib            = false
                umi_tools            = false
                umi_tools_naive      = false

            }
        }
    }
}